<h1>New restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<br>

<%= link_to 'Back to restaurants', root_path, class: 'btn btn-primary', style: 'transition: background-color 0.3s ease' %>
